@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Customer Portal</h1>
    <p>Welcome to Rocket Elevators customer portal. Please visit My Products page to view your current products and visit Interventions page to create a new interventions.<p>

    <p>Remember you have to be a current customer to be able to create a account.<p>
</div>
