@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>
        Create Interventions
    </h1>
</div>
<form action="/interventions" method= "post">
<hr>
    <div>
        <label>Please select the customer from below.</label>
            <select id = "selectedCustomer">
            <option value = "N/A">--Select--</option>
            </select>
    </div>
<hr>
    <div>
        <label>Please select the building of the customer.</label>
            <select id = "selectedBuilding" >
                <option value ="N/A">--Select--</option>
                <option value = 0 >N/A</option>
            </select>
    </div>
<hr>
    <div>
      <label>Please select the battery of the building.</label>
            <select id = "selectedBattery">
                <option value ="N/A" >--Select--</option>
                <option value = 0 >N/A</option>
            </select>
    </div>
<hr>
    <div>
        <label>Please select the column of the battery.</label>
            <select id = "selectedColumn">
                <option value ="N/A" >--Select--</option>
                <option value = 0 >N/A</option>
            </select>
    </div>
<hr>
    <div>
        <label>Please select the elevator of the column.</label>
            <select id = "selectedElevator">
                <option value ="N/A">--Select--</option>
                <option value = 0 >N/A</option>
            </select>
    </div>
<hr>
    <div>
        <label>Description<label>
            </br>
        <textarea type = "text", id ="description" rows="5" cols="50"></textarea>
    </div>
<hr>
    <div id = 'submit'>
        <button type = 'button', class = 'btn btn-primary' >Submit</button>
        </div>
    </div> 
</form>
