@{
    ViewData["Title"] = "Home Page";
}
<form action="/interventions" method= "post">
    <label>Please select the customer from below.</label>
        <select id = "selectedCustomer">
        <option value = "N/A">--Select--</option>
        </select>
</form>
