@{
    ViewData["Title"] = "My Products";
}
<div class = "col ">
<h1 class = " text-center ">@ViewData["Title"]</h1>
<hr>
</div>


<div class = "row">
    <div id = "building" class = "col">
        
        <h4>Building Details</h4>
        <hr>
        
    </div>

    <div id = "battery" class= "col">
        <h4>Battery Details</h4>
        <hr>
    </div>

    <div id = "column" class= "col">
        <h4>Column Details</h4>
        <hr>
    </div>

    <div id = "elevator" class= "col">
        <h4>Elevator Details</h4>
        <hr>
    </div>

</div>